<header class="bar bar-nav noborder">
		<h4>Task 3: Configure a password replication policy
			<a><span class="icon icon-left-nav"></span></a>
			<a><span class="icon icon-right-nav"></span></a></h4>
	</header>
	<nav class="bar bar-tab">
	<div class="segmented-control">
	 	<a class="control-item" href="#task1">Task 1</a>
	 	<a class="control-item" href="#task2">Task 2</a>
	 	<a class="control-item active" href="#task3">Task 3</a>
	</div>
	<div>
	Subtask:
		<a ng-repeat="t in tasks| filter:{task:'task3'}" class="tab-item active" href="#">
	    	<span class="tab-label">{{t.no}}</span>
	  	</a>
	</div>
	</nav>
	<div class="content-padded">
		<ol>
			<li ng-repeat="t in tasks| filter:{task:'task3'}">
				{{t.subtask}}
			</li>
		</ol>
		
	</div>