<header class="bar bar-nav noborder">
		<h4>Task 1: Verify requirements for installing an RODC
			<a><span id="prev" class="icon icon-left-nav" ng-click="prev()"></span></a>
			<a><span id="next" class="icon icon-right-nav" ng-click="next()"></span></a></h4>
	</header>
	<nav class="bar bar-tab">
	<div class="segmented-control">
	    <a class="control-item active" href="#task1">Task 1</a>
	    <a class="control-item" href="#task2">Task 2</a>
	    <a class="control-item" href="#task3">Task 3</a>

	    
	</div>
	<div>
	Subtask:
		<a ng-repeat="t in tasks| filter:{task:'task1'}" class="tab-item" href="#" ng-class="{active: $index == 0}">
	    	<!-- <span class="icon icon-home"></span> -->
	    	<span class="tab-label">{{t.no}}</span>
	  	</a>
	</div>
	</nav>
	<div class="content-padded">
		<span id="sub">
				{{tasks[0].subtask}}
		</span>
	</div>