<!DOCTYPE html>
<html>
<head>
	<title>Using AngularJS Scope</title>
	<link href="Css/main.css" rel="stylesheet">
	<link href="Css/ratchet.css" rel="stylesheet">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">	
</head>
<body ng-app="myApp">
	<header class="bar bar-nav noborder">
		<h3 class="title">Using Angular	Scope</h1>
	</header>
	<nav class="bar bar-tab">
	  <a class="tab-item active" href="#">
	    <span class="icon icon-home"></span>
	    <span class="tab-label">Home</span>
	  </a>
	</nav>
	<div class="content">
	<input type="search" ng-model="name" placeholder="Search by Name or Area"/>
	<div ng-controller="MyController">
		<ul class="table-view">	
			<li class="table-view-cell media" ng-repeat="cust in customers | filter:name | orderBy:'name'">
				{{cust.name | uppercase}} - {{cust.area | lowercase}}
			</li>
		</ul>
	</div>
	</div>
	<script type="text/javascript" src="Scripts/angular.min.js"></script>
	<script>
		var app = angular.module('myApp', []);
		app.controller('MyController', function ($scope){
			$scope.customers=[
				{ name:'Sahil Patel', area:'Vesu' },
				{ name:'Kautik Mistry', area:'Adajan' },
				{ name:'Swapnil Tandel', area:'Umra' },
				{ name:'Nachiket Patel', area:'Bhatar '}
			];
		}
	);
	</script>
</body>
</html>